{% extends 'base.html' %}


{% block content %}
    <style>
        div.ex1 {
            position: fixed;
            top: -1px;
            z-index: 2;
        }

        div.ex2 {
            z-index: 1;
        }

        div.ex3 {
            position: fixed;
            top: 68px;
            left: 8%;
            width: 100%;
            z-index: 2;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-color: #1b6d85;
        }

        div.ex4 {
            position: fixed;
            top: 60px;
            left: 65%;
            width: 100%;
            z-index: 2;
        }

        div.ex5 {
            position: fixed;
            bottom: 22%;
            left: 66%;
            width: 100%;
            z-index: 2;
        }
    </style>
    <div style="position: relative">
        <div class="w-100 h-auto ex1" style="background-color: #FFFFFF">
            {% include "components/right_navbar.html" %}
        </div>
        <div class="w-100 d-flex ex2">
            <div class="p-0 ex3" style="width: 215px">
                <div class="" id="tweetme-2-left-nav" data-username="A" data-can-tweet="true"></div>
            </div>
            {% if request.user.is_authenticated %}
                <div id="tweetme-2-feed-list" data-spy="scroll" class="scroll"
                     style="position: relative;margin-top: 68px; margin-left: 25%; overflow: auto; width: 800px"></div>
            {% else %}
                <div id="tweetme-2-list" data-spy="scroll" class="scroll"
                     style="position: relative;margin-top: 68px; margin-left: 25%; width: 700px">
                </div>
            {% endif %}
            <div class="p-0 ex4 ml-auto" style="width: 215px">
                <div id="tweetme-2-toptrend"></div>
                <div id="tweetme-2-recommend-feed" data-recommend="feed"></div>
            </div>
        </div>
        <div class="p-0 ex5" style="width: 498px">
            <div class="" id="tweetme-2-footer" data-username="A" data-can-tweet="true"></div>
        </div>
    </div>




{% endblock content %}
